img {
	width: 45%;
	float: left;
	height: 275px;
	margin-top: 25px;
	margin-left: 25px;
	
	
	
}

#run {
	height: auto;
	width: auto;
}

#chill {
	height: 150%;
	width: 75%;
}

body {
	background-color: #5575a8

}

h1 {
	font-family: 'Amatic SC', cursive;
	color: rgb(148, 25, 25);
	font-size: 125px;
	margin-bottom: 0px;
	background-color: hsl(40, 91%, 71%);
	padding-left: 8%;
}

.navbar {
	background-color: #3c5f87;
	font-color: rgb(148, 25, 25);
}

.main {
	font-family: 'Amatic SC', cursive;
	color: rgb(148, 25, 25);
	font-size: 125px;
	margin-bottom: 0px;
	background-color: hsl(40, 91%, 71%);
	padding-left: 8%;
}

.navbar-default .navbar-brand {
    color: rgb(148, 25, 25);
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(148, 25, 25);
	font-family: 'Amatic SC', cursive;
	font-size: 35px;
}

p {
    font-family: 'Comfortaa', cursive;
	color: black;
	font-size: 25px;
	padding-top: 5%;
	text-indent: 25px;
}

h2, h3, h4,  {
	font-family: 'Comfortaa', cursive;
	color: black;
	margin-left: 10%;
	font-size: 25px;
	width: auto;
}

iframe {
	float: left;
	margin-top: 25px;
	margin-left: 25px;
}

.top {
	border: solid;
	margin: 25px;
	display: flex;
	flex-wrap: none;
	flex-direction: row;
	padding-bottom: 15px;
}

.profile {
	height: 300px;
	width:auto;
	border: solid;
	margin-right:15px;
}

.profile-right {
	height: 350px;
	width:auto;
	margin-right:15px;
	border:solid;
	display: flex;
	margin-bottom: 25px;
	margin-left: 250px;
}

.lower {
	display: flex;
	flex-direction: row;
	padding-left: 250px;
	
}

.list {
	font-family: 'Comfortaa', cursive;
	color: black;
	margin-left: 10%;
	font-size: 25px;
	width: 375px;
	padding: 10px;
}

.last-pic {
	display: flex;
	flex-direction: row;
}